<mat-card class="pm-card-style">
    <section>
        <div class="postudio-button-row">
          <a routerLink="/progress-monitor-main" routerLinkActive="active"><a mat-raised-button color="primary" class="button-pm-main" target="_blank">Progress-Monitor-Main</a></a>
          <a routerLink="/progress-monitor-chart" routerLinkActive="active"><a mat-raised-button color="primary" class="button-pm-main" target="_blank">Progress-Monitor-Chart</a></a>
        </div>
    </section>
</mat-card>
<h1>Progress Monitor Chart</h1>
<br />

