<mat-card class="pga-card-style">
    <section>
        <div class="postudio-button-row">
          <a routerLink="/pga-main" routerLinkActive="active"><a mat-raised-button color="primary" class="button-pga-main" target="_blank">PGA-Main</a></a>
          <a routerLink="/pga-forecast" routerLinkActive="active"><a mat-raised-button color="primary" class="button-pga-main" target="_blank">PGA-Forecast</a></a>
          <a routerLink="/pga-difference" routerLinkActive="active"><a mat-raised-button color="primary" class="button-pga-main" target="_blank">PGA-Difference</a></a>
        </div>
    </section>
</mat-card>

<img class="pga-image" src="./assets/image/pga-large.png" alt="pga-lg-image" />
<br />
