.kpi-card-style {
    background-color: #0913a5ec;
    color: white;
    font-weight: bold;
    font-size: large;
}

.button-kpi-main {
    margin-left: 2.5px;
    font-size: 15px;
    width: 11vw;
}
.tableHeader {
    text-align: center;
}