<mat-card class="kpi-card-style">
    <section>
        <div class="postudio-button-row">
          <a routerLink="/kpi-main" routerLinkActive="active"><a mat-raised-button color="primary" class="button-kpi-main" target="_blank">KPI-Main</a></a>
          <a routerLink="/kpi-dashboard" routerLinkActive="active"><a mat-raised-button color="primary" class="button-kpi-main" target="_blank">KPI-Dashboard</a></a>
          <a routerLink="/kpi-dashboard-lt-oil" routerLinkActive="active"><a mat-raised-button color="primary" class="button-kpi-main" target="_blank">KPI-Dashboard-LT-OIL</a></a>
        </div>
    </section>
</mat-card>

<h1 class="tableHeader">KPI Dashboard</h1>

<ag-grid-angular
  style="width: 400vw; height: 40vw;margin-left: 5vw;"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [rowHeight]="rowHeight"
  [rowClassRules]="rowClassRules"
  (columnResized)="onColumnResized($event)"
  [rowStyle]="rowStyle"
  [enableRangeSelection]="true"
  [enableCharts]="true"
  [getRowHeight]="getRowHeight"
  [suppressRowTransform]="true"
  [pagination]="true"
  [popupParent]="popupParent"
  [modules]="modules"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [paginationPageSize]="paginationPageSize"
  [processChartOptions]="processChartOptions"
  [enableRangeSelection]="true"
  [headerHeight]="headerHeight"
  (firstDataRendered)="onFirstDataRendered($event)"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>