
<mat-card class="kpi-card-style">
    <section>
        <div class="postudio-button-row">
          <a routerLink="/kpi-main" routerLinkActive="active"><a mat-raised-button color="primary" class="button-kpi-main" target="_blank">KPI-Main</a></a>
          <a routerLink="/kpi-dashboard" routerLinkActive="active"><a mat-raised-button color="primary" class="button-kpi-main" target="_blank">KPI-Dashboard</a></a>
          <a routerLink="/kpi-dashboard-lt-oil" routerLinkActive="active"><a mat-raised-button color="primary" class="button-kpi-main" target="_blank">KPI-Dashboard-LT-OIL</a></a>
        </div>
    </section>
</mat-card>

<h1 class="tableHeader">KPI Dashboard Long Term Oil</h1>

<p>This component demonstrates fetching data from the server.</p>
 
<div>
  <label>Well: </label>
  <select (change)="rowData($event.target.value)">
    <option value="0">--All--</option>
    <option *ngFor="let rowDat of rowData" value={{rowDat}}>
      {{rowDat}}
    </option>
  </select>
</div>
 
<p *ngIf="!well"><em>Loading...</em></p>

<div
style="display: flex; flex-direction: column; height: 100%; width: 100%; overflow: hidden;">

<ag-grid-angular
  style="width: 100%; height: 30%;"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [rowHeight]="rowHeight"
  [rowClassRules]="rowClassRules"
  (columnResized)="onColumnResized($event)"
  [rowStyle]="rowStyle"
  [enableRangeSelection]="true"
  [enableCharts]="true"
  [getRowHeight]="getRowHeight"
  [suppressRowTransform]="true"
  [pagination]="true"
  [popupParent]="popupParent"
    [modules]="modules"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [paginationPageSize]="paginationPageSize"
  [processChartOptions]="processChartOptions"
  [enableRangeSelection]="true"
  [headerHeight]="headerHeight"
  [animateRows]="true"
  [pivotMode]="true"
  [sideBar]="sideBar"
  [rowData]="rowData"
  [rowSelection]="rowSelection"
  [rowMultiSelectWithClick]="true"
  [getChartToolbarItems]="getChartToolbarItems"
  (selectionChanged)="onSelectionChanged($event)"
  (firstDataRendered)="onFirstDataRendered($event)"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
<div
        id="chart1"
        style="flex: 1 1 auto; overflow: hidden; height: 30%;"
      ></div>
      <div
        style="display: flex; flex: 1 1 auto; overflow: hidden; height: 30%;"
      >
        <div
          id="chart2"
          style="flex: 1 1 auto; overflow: hidden; width: 50%;"
        ></div>
        <div
          id="chart3"
          style="flex: 1 1 auto; overflow: hidden; width: 50%;"
        ></div>
      </div>
    </div>
