<mat-card class="cm-card-style">
    <section>
        <div class="postudio-button-row">
          <a routerLink="/cm-main" routerLinkActive="active"><a mat-raised-button color="primary" class="button-cm-main" target="_blank">CounterMeasure-Main</a></a>
          <a routerLink="/cm-plan" routerLinkActive="active"><a mat-raised-button color="primary" class="button-cm-main" target="_blank">CounterMeasure-Plan</a></a>
        </div>
    </section>
</mat-card>

<img class="cm-image" src="./assets/image/cm-large.png" alt="cm-lg-image" />
<br />
