<mat-card class="vwr-card-style">
    <section>
        <div class="postudio-button-row">
          <a routerLink="/virtual-war-room-main" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Main</a></a>
          <a routerLink="/virtual-war-room-wpd" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Well-Performance-Dashboard</a></a>
          <a routerLink="/virtual-war-room-woe" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Well-Operating-Envelope</a></a>
          <a routerLink="/virtual-war-room-pas" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Potential-Assessment Sheet</a></a>
          <a routerLink="/virtual-war-room-bubble-map" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Bubble-Map</a></a>
          <a routerLink="/virtual-war-room-dca" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Decline-Curve-Analysis</a></a>
        </div>
    </section>
</mat-card>
<br /><br />
<h1 style="padding-left:4vw">Decline Curve Analysis</h1>

<div
style="display: flex; flex-direction: column; height: 100%; width: 100%; overflow: hidden;">
<ag-grid-angular
  style="width: 90vw; height: 50%; padding:2vw"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [rowHeight]="rowHeight"
  [rowClassRules]="rowClassRules"
  (columnResized)="onColumnResized($event)"
  [rowStyle]="rowStyle"
  [enableRangeSelection]="true"
  [enableCharts]="true"
  [getRowHeight]="getRowHeight"
  [suppressRowTransform]="true"
  [pagination]="true"
  [popupParent]="popupParent"
    [modules]="modules"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [paginationPageSize]="paginationPageSize"
  [getChartToolbarItems]="getChartToolbarItems"
  [processChartOptions]="processChartOptions"
  [enableRangeSelection]="true"
  [headerHeight]="headerHeight"
  [animateRows]="true"
  [sideBar]="sideBar"
  [rowData]="rowData"
  [rowSelection]="rowSelection"
  [rowMultiSelectWithClick]="true"
  [getChartToolbarItems]="getChartToolbarItems"
  (firstDataRendered)="onFirstDataRendered($event)"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
<div
    id="chart1"
      style="flex: 1 1 auto; overflow: hidden; height: 50%;"
    ></div>
    <div
      style="display: flex; flex: 1 1 auto; overflow: hidden; height: 30%;"
    >
      <div
        id="chart2"
        style="flex: 1 1 auto; overflow: hidden; width: 50%;"
      ></div>
      <div
        id="chart3"
        style="flex: 1 1 auto; overflow: hidden; width: 50%;"
      ></div>
  </div>
</div>
