<mat-card class="vwr-card-style">
    <section>
        <div class="postudio-button-row">
          <a routerLink="/virtual-war-room-main" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Main</a></a>
          <a routerLink="/virtual-war-room-wpd" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Well-Performance-Dashboard</a></a>
          <a routerLink="/virtual-war-room-woe" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Well-Operating-Envelope</a></a>
          <a routerLink="/virtual-war-room-pas" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Potential-Assessment Sheet</a></a>
          <a routerLink="/virtual-war-room-bubble-map" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Bubble-Map</a></a>
          <a routerLink="/virtual-war-room-dca" routerLinkActive="active"><a mat-raised-button color="primary" class="button-vwr-main" target="_blank">VWR-Decline-Curve-Analysis</a></a>
        </div>
    </section>
</mat-card>

<img class="vwr-image" src="./assets/image/vwr-large.png" alt="vwr-lg-image" />
<br />
