<mat-card class="agg-card-style">
    <section>
        <div class="postudio-button-row">
          <a routerLink="/aggregator-main" routerLinkActive="active"><a mat-raised-button color="primary" class="button-agg-main" target="_blank">Aggregator-Main</a></a>
          <a routerLink="/aggregator-dashboard" routerLinkActive="active"><a mat-raised-button color="primary" class="button-agg-main" target="_blank">Aggregator-Dashboard</a></a>
        </div>
    </section>
</mat-card>

<h1>Aggregator Dashboard</h1>
<br />
